<div class="container-fluid">

  <div class="col-sm-6 col-md-8">
    <div class="sign-card">
      <h1>Log in</h1>

      <%= form_tag sessions_path do %>
      <div class="form-group">
        <%= label_tag :email %>
        <%= text_field_tag :email,"",class: 'form-control'%>
      </div>
      <div class="form-group">
        <%= label_tag :password %>
        <%= password_field_tag :password,"",class: 'form-control'%>
      </div>
      <%= submit_tag 'Sign in',class:'btn btn-success'%>
      <% end %>
    </div>
  </div>

  <div class="col-sm-6 col-md-4">
    <div class="oauth-sign">
      <div class="spotify">
        <%= image_tag 'spotify.png' %>
        <br>
        <%= link_to 'Sign in with Spotify', '/auth/spotify' %>
      </div>
    </div>

  </div>
</div>
