<p><%= @share.errors.full_messages.join(', ') %></p>

<%= form_for @share do |s| %>
  <div class="form-group">
    <%= s.label :artist %>
    </br>
    <%= s.text_field :artist,id:'form_artist',class:'form-control' %>
  </div>
  <div class="form-group">
    <%= s.label :title %>
    </br>
    <%= s.text_field :title,id:'form_song',class:'form-control' %>
  </div>

  <div class="form-group">
    <% if current_user.friends.empty? %>
      <% user_friends = current_user.friends %>
    <% else %>
      <% user_friends = User.all %>
    <% end %>
    <%= s.label 'friends' %>
    <%= s.collection_select :shared_user_ids,
                            user_friends,
                            :id, :first_name,
                            {},
                            { multiple:true,
                              class:'form-control chosen-select'} do |b| %>
        <div class='user-wrapper'>
          <%= b.check_box %>
          <%= b.text %>
        </div>
      <% end %>
  </div>
  <div class="modal-footer">
    <%= s.submit 'Create Share',class:'btn btn-primary' %>
  </div>
<% end %>
