<p><%= @share.errors.full_messages.join(', ') %></p>

<%= form_for @share do |s| %>
  <div class="">
    <%= s.label :artist %>
    </br>
    <%= s.text_field :artist %>
  </div>
  <div class="">
    <%= s.label :title %>
    </br>
    <%= s.text_field :title %>
  </div>

  <div class="">
    <%= s.label :shared_user_ids %>
    <%= s.collection_check_boxes :shared_user_ids, User.all, :id, :first_name do |b| %>
    <div class="tag-wrapper">
      <%= b.check_box %>
      <%= b.text %>
    </div>
    <% end %>
  </div>

  <%= s.submit %>
<% end %>
