
<h2>Shared by</h2>

<% @shared_songs.each do |ss| %>
<h4><%= ss.artist %> - <%= ss.title %></h4>
<p><strong>shared by: </strong><%= ss.user.full_name %></p>
<strong>Shared to: </strong>
<% ss.shared_users.each do |u| %>
<a href="#">@<%= u.first_name %></a> |
<% end %>
<br>
<div class="">
  <%= link_to 'delete', share_path(ss), method: :delete, data: {confirm: 'Sure?'} %>
</div>
<div class="">
  <% if ss.liked_for(current_user).nil? %>
  <%= link_to '', share_likes_path(ss,{is_up:false}),
  method: :post,
  class:'glyphicon glyphicon-thumbs-down'
    %>
    <%= link_to '', share_likes_path(ss,{is_up:true}),
    method: :post,
    class:'glyphicon glyphicon-thumbs-up'
      %>
  <% elsif ss.liked_for(current_user).is_up? %>
  <%= link_to '', like_path(ss.liked_for(current_user),{is_up:false}),
  method: :patch,
  class:'glyphicon glyphicon-thumbs-down'
    %>
    <%= link_to '', like_path(ss.liked_for(current_user),{is_up:true}),
    method: :delete,
    class:'glyphicon glyphicon-thumbs-up',
      style: 'color:red'
      %>
  <% else %>
  <%= link_to '', like_path(ss.liked_for(current_user),{is_up:false}),
  method: :delete,
  class:'glyphicon glyphicon-thumbs-down',
    style: 'color:red'
    %>
    <%= link_to '', like_path(ss.liked_for(current_user),{is_up:true}),
    method: :patch,
    class:'glyphicon glyphicon-thumbs-up'
      %>
   <% end %>
  </div>

  <hr>
<% end %>

<h2>My shares</h2>
<% @shares.each do |s| %>
  <h4><%= s.artist %> - <%= s.title %></h4>
  <p><strong>shared by: </strong><%= s.user.full_name %></p>
    <strong>Shared to: </strong>
      <% s.shared_users.each do |u| %>
      <a href="#">@<%= u.first_name %></a> |
      <% end %>
      <br>
  <%= link_to 'delete', share_path(s), method: :delete, data: {confirm: 'Sure?'} %>
  <%= link_to 'edit', edit_share_path(s),data: {confirm: 'Sure?'} %>
  <hr>
<% end %>
