<h1>New Share</h1>

<%= form_for @share do |s| %>
  <div class="">
    <%= s.label 'Song'%>
    </br>
    <%= s.text_field :artist %>
  </div>
  <%= s.submit'search' %>
<% end %>
<hr>
  <iframe src="https://embed.spotify.com/?uri=<%= @song.uri%>" frameborder="0" allowtransparency="true"></iframe>
  <p><strong>Id</strong> <%= @song.id %></p>
  <p><strong>Preview</strong> <%= @song.preview_url %></p>
  <p><strong>Artist</strong> <%= @song.artists.first.name %></p>
  <p><strong>Song</strong> <%= @song.name %></p>
