<h1></h1>
<%= form_tag search_caches_path do %>
  <div class= "search-bar">
    <span class="icon"><i class="glyphicon glyphicon-search"></i></span>
    <%= text_field_tag :song,params[:song],
        placeholder:'search...',
        autocomplete: :off,
        id:'search'%>
  </div>
<% end %>

<% if @songs != nil %>
<hr>
  <% @songs.each do |s| %>
  <div class="row song-card">
    <div class="col-xs-2 col-md-2">
      <div style="background-image:url('<%= s[:image][:url]%>')" class="album-img">
        <div class="play-button">
          <i class="glyphicon glyphicon-play" song></i>
          <audio>
            <source src="<%=s[:uri]%>" type="audio/mpeg">
          </audio>
        </div>
      </div>
    </div>
    <div id='<%= s[:artist_name] %>-<%= s[:song_name] %>' class="col-xs-6 col-md-8 song-artist">
        <p><strong class='song-name'><%= s[:song_name] %></strong></p>
        <p class='artist-name'><%= s[:artist_name] %></p>
    </div>
    <div class="col-xs-4 col-md-2 share-div">
      <button type="button" data-id='<%= s[:artist_name] %>-<%= s[:song_name] %>' class="btn share btn-danger " data-toggle="modal" data-target="#myModal">
        share
      </button>
    </div>
  </div>
  <% end %>
<% end %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="" id="myModalLabel">New Share</h4>
      </div>
      <div class="modal-body">
      <%=   render "form" %>
      </div>
    </div>
  </div>
</div>
