<h1>New Share</h1>

<%= form_tag search_caches_path do %>
  <div class="">
    <%= label_tag :song %>
    <%= text_field_tag :song%>
  </div>
  <%= submit_tag 'Search'%>
<% end %>

<hr>

<% if @songs != nil %>
  <% @songs.each do |s| %>
  <div class="col-md-4">
    <iframe src="https://embed.spotify.com/?uri=<%= s[:uri]%>" frameborder="0" allowtransparency="true"></iframe>
    <br>
    <div id='<%= s[:artist_name] %>-<%= s[:song_name] %>' class="">
      <strong>Artist </strong><p class='artist-name'><%= s[:artist_name] %></p>
      <strong>Song </strong><p class='song-name'><%= s[:song_name] %></p>

    </div>
    <!-- Button trigger modal -->
    <button id='share'type="button" data-id='<%= s[:artist_name] %>-<%= s[:song_name] %>' class="btn share btn-primary" data-toggle="modal" data-target="#myModal">
      share
    </button>
  </div>
  <% end %>
<% else %>
  <div class="">
    <strong>Song not found</strong>
  </div>
<% end %>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="New Share" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      <%=   render "form" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
