<h1>New Share</h1>

<%= form_for @share do |s| %>
  <div class="">
    <%= s.label :artist %>
    </br>
    <%= s.text_field :artist %>
  </div>
  <%= s.submit'search' %>
<% end %>
<hr>

<% if @albums.presence %>
  <%= @id %>
  <% @albums.each do |album| %>
  <div class="">
    <h3><%= album.name %></h3>
    <% album.tracks.each do |track| %>
      <p><%= track.name %></p>
    <% end %>
  </div>
  <hr>
  <% end %>

<% else %>
<% end %>
