<h1>Sign up</h1>
<p><%= @user.errors.full_messages.join(', ') %></p>
<%= form_for @user do |u|  %>
  <div class="form-group">
    <%= u.label :first_name%>
    <%= u.text_field :first_name,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= u.label :last_name%>
    <%= u.text_field :last_name,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= u.label :email%>
    <%= u.email_field :email,class:"form-control" %>
  </div>
  <div class="form-group">
    <%= u.label :password%>
    <%= u.password_field :password,class:'form-control' %>
  </div>
  <div class="form-group">
    <%= u.label :password_confirmation%>
    <%= u.password_field :password_confirmation,class:'form-control' %>
  </div>
  <%= u.submit 'Create User',class:'btn btn-success' %>
<% end %>
