<!DOCTYPE html>
<html>
  <head>
    <title>Sharesong</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <%= link_to 'Dashboard', root_path %>


      <% if user_signed_in? %>
        <span><strong>Hello </strong><%= current_user.full_name %></span>
        <%= link_to 'Sign out', sessions_path, method: :delete if user_signed_in? %>
        <%= link_to 'New Share', new_share_path %>
      <% else %>
        <%= link_to 'Sign Up', new_user_path%>
        <%= link_to 'Sign In', new_session_path%>
      <% end %>
      <hr>
    </nav>
    <%= notice || alert %>
    <%= yield %>
  </body>
</html>
